footer {
    display: inline;
}
.footer-socials {
    text-align: center;

}

.footer-text {
    text-align: center;
    font-size: 20px;
    color: var(--first-color);
    font-weight: 400;
}

.footer-socials a {
    font-size: 25px;
    padding: 10px;
}

